/*

Login Page

*/

.particles-js-canvas-el{
  position: absolute;
  left: 0;
}
#particles-js{
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/*

Bootstrap CSS

*/
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background: rgb(1, 152, 117)!important;
}


a:hover,.rb_cp {
 cursor:pointer!important;
}



/*

Sai June 22 2020
*/

.checkboxcontainer input{
  display:none;
  }
  .checkboxcontainer{
      display:inline-block;
      padding-left:30px;
      position: relative;
      cursor:pointer;
      text-transform: capitalize;
      user-select:none;
  }
  .checkboxcontainer .checkmark{
      display:inline-block;
      width:20px;
      height:20px;
      background: rgb(82, 82, 81);
      position: absolute;
      left:0;
      top:0;
      border-radius: 3px;
  }
  
  .checkboxcontainer input:checked+.checkmark{
      background-color: #232324;;
  }
  .checkboxcontainer:hover .checkmark{
      background-color: #313131;
  }
  
  .checkboxcontainer input:checked+.checkmark:after{
      content:"";
      position: absolute;
      height:8px;
      width:13px;
      border:4px solid #28a745;
      border-right:2px;
      border-top:2px;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%) rotate(-45deg);
  }
.button_column_selector {
    background-color: #444444;
    color:#2f3232;
    height:2.4em;
}

.fa-cog{
    color:#999;
}

.keep-open {
    border-bottom: 3px solid #504f4f;
    border-top: 3px solid #504f4f;
    border-left: 3px solid #504f4f;
    border-right: 3px solid #504f4f;
    background-color: hsl(180, 3%, 19%);
    color:#2f3232;
}

[data-theme="dark"] .copy{
  background-color: #444;
  color: #aaa;
  border: none;
}

[data-theme="dark"] .copy.active{
  box-shadow:none !important;
  background-color: #282828!important;
}

[data-theme="dark"] .copy:hover{
  background-color: #333;
  color:white;
}

.copy:focus{
  box-shadow:none !important;
}

[data-theme="dark"] .copy:disabled{
  background-color: #4a4a4a;
  color:#999;
}

.copy:disabled{
  border: none;
  cursor: auto;
}



/*
Custom Radio button 
Sai July 17th 2020
*/


/* custom radio */
.radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* hide the browser's default radio button */
.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* create custom radio */
.radio .check {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: rgb(244, 247, 245);
  border: 1px solid #28a745;
  border-radius: 50%;
}

/* on mouse-over, add border color */
.radio:hover input ~ .check {
  border: 2px solid rgb(143, 144, 145);
}

/* add background color when the radio is checked */
.radio input:checked ~ .check {
  background-color: #2f3232;
  border:none;
}

/* create the radio and hide when not checked */
.radio .check:after {
  content: "";
  position: absolute;
  display: none;
}

/* show the radio when checked */
.radio input:checked ~ .check:after {
  display: block;
}

/* radio style */
.radio .check:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #28a745;
}