saassets/js_compress/*
assets/css_compress/*
assets/images/FirstAdminFlag.txt
application/first_admin_folder/FirstAdminFlag.txt

application/libraries/RB_database_audits/*
application/simplesamlphp/cert/*

application/tests/bin/.phpunit.result.cache
application/tests/build/logs/*
!application/tests/build/logs/.gitkeep
application/tests/build/coverage/*
!application/tests/build/coverage/.gitkeep
application/tests/_ci_phpunit_test/tmp/cache/*

application/tests/.phpunit.result.cache

sonar-project.properties
application/tests/.phpunit.result.cache

application/.htaccess
application/cache/
application/composer.lock
application/vendor/
composer.lock
vendor/
coverage

node_modules
assets/js/dist/*
package-lock.json
build
.DS_Store

assets/js/tests/coverage/*

application/env_encryption/*
application/shell/env_encryption_decryption/.env.enc
application/shell/env_encryption_decryption/EncryptionKey
application/shell/env_encryption_decryption/EncryptionKey.bin
application/shell/env_encryption_decryption/EncryptionKey.bin.enc
application/shell/env_encryption_decryption/EncryptionKey.pem
application/shell/env_encryption_decryption/EncryptionKey.pub
application/shell/env_encryption_decryption/EncryptionKey.pub.pem

application/secure_uploads/keycloak/*
