FACS_DB_PORT=3306
FACS_DB_NAME=CREDENTIALS_TILE
FACS_FEATURE_TABLE=feature_table
FACS_AUDIT_TABLE=audit_log
FACS_CRED_TABLE=cred_keys
FACS_RHOMBUS_DB_API=FALSE
FACS_ROLE_SERVICE_KEY=

## NIPR ##
FACS_DB_USER=
FACS_DB_PASS=
FACS_DB_HOST=

## DBAPI ##
FACS_DB_API_KEY=
FACS_DB_API_FLAG=