/* #final-ad-granted-table-view-modal > div > div.bx--modal-container {
    min-height: 50vw !important;
}

#final-ad-granted-table-view-modal > div > div.bx--modal-container > div.bx--modal-content {
    min-height: 30vw !important;
}

#gear_override_modal > div > div.bx--modal-container {
    width: 1000px  !important;
    height: 500px !important;
}

#gear_override_modal > div > div.bx--modal-container > div.bx--modal-content {
   
    width: 900px !important;
    overflow: hidden;
    height: 350px !important;
}

#gear_top_elems {
    height: 200px;
}

#gears_outer_box {
    height: 275px;
    width: 450px;
}

#gears_tab_data {
    height: 200px;
} */