.list-top-view{
    height: 300px; 
}

#coa-table-1_wrapper .sorting_disabled, 
#coa-table-2_wrapper .sorting_disabled, 
#coa-table-3_wrapper .sorting_disabled,
#coa-table-rc-1_wrapper .sorting_disabled, 
#coa-table-rc-2_wrapper .sorting_disabled, 
#coa-table-rc-3_wrapper .sorting_disabled {
    background-color: #2c5f7f;
    color: white;
}

#coa-table-1_info, #coa-table-2_info , #coa-table-3_info,
#coa-table-rc-1_info, #coa-table-rc-2_info , #coa-table-rc-3_info
{
    display: none;
}


.ham-menu{
    width: 8px;
    height: 2px;
    background-color: black;
}

.coa-detailed-summary,
.coa-override-modal-button {
    background-color: #2c5f7f;
    color: white;
}

.coa-banner{
    width: 100%;
    background: #d1a700;
    text-align: center;
    padding: 8px;
    color: white;
    font-weight: 600;
    font-size: medium;
}

.bx--modal-container .bx--modal-content {
    padding-right: 0;
}

.grey-highlight{
    background-color: #767575 !important;
    color: white !important;
}

.datatable-column {
    max-width: 10vw;
    overflow: hidden;
    text-overflow: ellipsis;
}

.red-highlight{
    background-color: rgb(246, 89, 89) !important;
    color: rgb(255, 255, 255) !important;
}
.dt-body-right{
        text-align: right !important;
        padding-right: 1.5vw !important;
}
.dt-body-center{
    text-align: center !important;
}
.coa-delete-row-btn {
    color: black;
}
.coa-insert-row-btn {
    padding: 0.5rem;
}

.ember-cell{
    background: #FFFF00 !important;
    color: black !important;
    font-weight: bold;
}
.editor-note{
    color: black;
    font-size: 0.9rem;
    font-weight: 500;
    margin-left: 1rem;
}
.DTE_Label {
    display: none;
}
.invalid-text {
    color: #da1e28;
    margin: .25rem 0 0;
    font-size: .75rem;
}
.override-tables .bx--tooltip__trigger:not(.bx--btn--icon-only) {
    padding: 5px 10px;
    width: -webkit-fill-available;
    height: inherit;
    font-size: inherit;
    display: revert;
}

.invalid-uncommitted-cell,
.invalid-proposal-cell{
    background: rgb(246, 89, 89)!important;
    color: black !important;
    font-weight: bold;
}

.valid-proposal-cell {
    background: #139500 !important;
    color: black !important;
    font-weight: bold;
}

.baseline-banner-style {
    width: 100%;
    background: #d1a700;
    text-align: center;
    padding: 8px;
    color: white;
    font-weight: 600;
    font-size: small;
}

.select2-container--default .select2-results > .select2-results__options{
    max-height: 120px;
}

.legend-status-color-row {
    gap: 1rem;
}

.legend-color,
.legend-text {
    width: 1rem;
    height: 1rem;
}
.legend-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: left;
}

.legend-color.blue {
    background-color: #01b2f3 !important;
}

.legend-color.yellow {
    background-color: #FFFF00 !important;
}

.legend-color.green {
    background: #139500 !important;
}

.legend-color.red {
    background: rgb(246, 89, 89)!important;
}

.legend-title {
    text-decoration: underline;
}

